[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "ohmyzsh"]
	path = ohmyzsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
	ignore = dirty
[submodule "tmux/plugins/nord-tmux"]
	path = tmux/plugins/nord-tmux
	url =  https://git::@github.com/arcticicestudio/nord-tmux
	ignore = all
